asgiref==3.12.1
boto3==1.43.89
botocore==1.43.89
django==6.1.1
django-axes==8.3.1
gunicorn==26.2.0
jmespath==1.1.0
packaging==26.3
psycopg==3.3.5
psycopg-binary==3.3.5
python-dateutil==2.9.0.post0
pyyaml==6.0.3
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
typing-extensions==4.16.0
urllib3==2.7.0
whitenoise==6.12.0
django-otp==1.7.3
mozilla-django-oidc==5.0.2
cryptography==50.0.1
cffi==2.1.1
pycparser==3.0
pyjwt==2.13.0
requests==2.34.2
charset-normalizer==3.5.1
idna==3.19
certifi==2026.7.22
